<nav id="sidebar">
    <div class="sidebar-header">
        <img src="images/logo.png">
    </div>

    <ul class="list-unstyled components">
        <li <% if (page === 'content/home') { %>class="active"<% } %>>
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="home#introduction">Introduction</a>
                </li>
                <li>
                    <a href="home#table-of-contents">Table of Contents</a>
                </li>
            </ul>
        </li>
        <li <% if (page === 'content/cable-management') { %>class="active"<% } %> >
            <a href="#cm-menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cable
                Management</a>
            <ul class="collapse list-unstyled" id="cm-menu">
                <li>
                    <a href="cable-management#introduction">Introduction</a>
                </li>
                <li>
                    <a href="cable-management#how-to-manage-your-cables">How to Manage Your Cables</a>
                </li>
                <li>
                    <a href="cable-management#cable-management-examples">Cable Management Examples</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>