<div class="card">
    <div class="card-body" id="introduction">
        <h2>Accessories</h2>
        <hr>
        <p>A computer is not complete without the accessories to use it. Therefore, we will also explore a few of the
            most common accessories and our recommendations on type and quality. The selection of accessories mostly
            comes down to personal preference; maybe you want a heavy, ergonomic mouse with ten buttons to program
            macros, or maybe a basic plastic mouse to simply navigate your computer. You should always choose a
            highly-rated item within your budget and parameters to maximize your computer's usability. </p>
    </div>
</div>

<div class="card">
    <div class="card-body" id="choosing-accessories">
        <h2>Choosing Accessories</h2>
        <hr>
        <h4>Keyboard</h4>
        <div style="float: right;margin-left: 10px;">
            <a href="images/keyboard.jpg" target="_blank">
                <img src="images/keyboard.jpg" style="width: 300px;" />
            </a>
            <p style="font-size: 10px;">A mechanical keyboard with <%- def("RGB") %> backlighting <%- ref("Amazon") %>
            </p>
        </div>
        <p>The only keyboard that will really boost your performance is a mechanical keyboard. Mechanical keyboards
            boast faster response times due to their engineering and design. They are generally more sturdy and heavier.
            Different mechanical keyboards result in different noises, response time, strength to press, and different
            appearances. There are many types of mechanical keyboards, and personal preference dictates which ones are
            the best for you. We recommend going to a store that lets customers test out different mechanical switches
            (keys) until you find one that suits you. If you want to know more about mechanical keyboards, we recommend
            <a href="https://dygma.com/blogs/stories/the-ultimate-guide-to-mechanical-keyboard-switches-for-2019"
                style="color: blue; text-decoration: underline;" target="_blank">this website</a> <i
                class="fas fa-external-link-alt" style="color: gray;"></i>.
        </p>
        <h4>Monitor</h4>
        <p>Many people can benefit from having a second monitor. A second monitor helps students, employees, and even
            gamers be more productive. We strongly recommend everyone to get a second monitor if they have the budget
            for it. It does not need to be high quality or expensive.</p>
        <p>The second recommendation is to have a 144 Hz monitor. The difference between a standard 60 Hz monitor and a
            144 Hz monitor is massive. 60 and 144 are numbers that represent the refresh rate of the monitor. 60 Hz will
            refresh the screen 60 times a second, and 144 Hz will refresh 144 times a second. A higher refresh rate
            allows for smoother videos, movies, and games. 144 Hz monitors also improve reaction times which can be very
            beneficial for gamers. At the highest level of gaming, every player will be using a 144 Hz monitor in order
            to gain any advantage they can. </p>
        <h4>Mouse</h4>
        <div style="float: right;margin-left: 10px;">
            <a href="images/mouse.jpg" target="_blank">
                <img src="images/mouse.jpg" style="width: 200px;" />
            </a>
            <p style="font-size: 10px;">A mouse with 12 programmable buttons <%- ref("Amazon") %>
            </p>
        </div>
        <p>The mouse you choose is entirely based on personal preference. Our recommendation is to find a mouse that
            fits your hand comfortably. There are mice that are targeted to gamers, but they are practically the same as
            a normal office mouse. The only reason you should get an expensive mouse is if you need extra, programmable
            buttons. Extra buttons allow users to reprogram the button to mimic a keyboard input like “L” so users can
            use both mouse and keyboard more efficiently. This feature really only benefits gamers, but most games do
            not require players to input many keystrokes. </p>
        <h4>Chair</h4>
        <p>Most people spend several hours a day in their chair. Getting a comfortable one that does not hinder
            productivity or movement is super important. It is also important to get a chair that supports your back,
            arms, and wrists to reduce possible injury over long sessions of sitting. With that said, ergonomic chairs
            and office chairs fit all the requirements of a good chair. Ergonomic chairs will provide ample back
            support, but an office chair can too if you find the right one. Gaming chairs are generally poor when it
            comes to providing lower back support. Arm rests are also very important since they allow your arms and
            wrists to stay level with your desk. Ultimately, it comes down to personal preference, and you should find a
            chair that fits you best. </p>
    </div>
</div>