<div class="card">
    <div class="card-body" id="introduction">
        <h2>Assembly</h2>
        <hr>
        <p>This step in the computer building process is when every component comes together inside the case. It may
            seem like a daunting task, but the act of assembling your computer is comparable to assembling Legos. All
            parts have designated slots in the case or on the motherboard, and each part comes with detailed manuals if
            you ever need extra information on that specific part.</p>
        <div style="float: right;margin-left: 10px;">
            <img src="images/workspace.jpg" style="width: 400px;" />
            <p class="caption">A prepared workspace for a computer build [8]</p>
        </div>
        <p>Before continuing with the actual assembly, it's important to prepare your work area with everything you'll
            need to build the computer:</p>
        <ul>
            <li>All parts of the computer unboxed and nearby. Keep delicate components like the CPU or GPU in their wrappers
                after taking them out of the box.</li>
            <li>Open computer case (both side panels taken off)</li>
            <li>Phillips head screwdriver</li>
            <li>Light source (e.g. flashlight)</li>
            <li>Zip ties or twist ties</li>
            <li>Thermal paste</li>
        </ul>
    </div>
</div>

<div class="card">
    <div class="card-body" id="cpu">
        <h2>CPU Installation</h2>
        <hr>
        <div class="yt-embed-inline">
            <iframe src="https://www.youtube.com/embed/qCPIEYfN_hc?modestbranding=1&start=71&end=155" allowfullscreen>
            </iframe>
            <p class="caption">A clip showing how to install the CPU [7]</p>
        </div>
        <p>
            Usually, the first step in a computer build is inserting the CPU into its respective socket on the motherboard. This step comes first because it is the easiest to perform before screwing the motherboard into the case.
        </p>
        <ol>
            <li>First, lay the motherboard with its wrapper beneath it on a flat surface.</li>
            <li>Then, open the CPU socket by pulling its small metal arm to the side, and then upwards.</li>
            <li>Take your CPU and find the arrow on one of its corners, and match this arrow to the one on the CPU socket.</li>
            <li>Gently lay your CPU into the socket. This step should not require any force, as the CPU should fall into place on its own.</li>
            <li>Finally, close the CPU socket by pulling its small metal arm back into place.</li>
        </ol>
        <p>At this point, your CPU is installed in your motherboard. If you noticed any large resistance while installing the CPU, double-check your arrow alignment. Otherwise, you're ready to move onto the next step.</p>
    </div>
</div>

<div class="card">
    <div class="card-body" id="cpu">
        <h2>Memory Installation</h2>
        <hr>
        <div class="yt-embed-inline">
            <iframe src="https://www.youtube.com/embed/qCPIEYfN_hc?modestbranding=1&start=155&end=220" allowfullscreen>
            </iframe>
            <p class="caption">A clip showing how to install the RAM [7]</p>
        </div>
        <p>
            The common next step after installing the CPU is to install your memory. This might be the easiest process in the entire build, because installing the RAM requires nothing but a little push into its socket. There will even be an audible click letting you know it was done correctly.
        </p>
        <ol>
            <li>Open the retention clips on the tops and bottoms of each memory socket.</li>
            <li>Find the small slit in your RAM, and match this slit to the extrusion within the memory socket. These alignment tools make sure the RAM is installed the correct direction.</li>
            <li>Start pushing the RAM into the socket. This may require a little more force than you may deem comfortable, but it is necessary to install the RAM.</li>
            <li>Stop pushing once you hear an audible click and both clips on the top and bottom of the RAM socket are in the down position.</li>
            <li>Repeat this process for each memory stick (if you have multiple).</li>
        </ol>
        <p>Your memory is now installed in your motherboard. Make sure all memory sticks have both of their clips in the down position. If so, you're ready to move onto the next step.</p>
    </div>
</div>