<div class="card">
    <div class="card-body" id="introduction">
        <h2>Cable Management</h2>
        <hr>
        <p>Before beginning the actual assembly of your computer, it's important to learn the best practices so you can employ them during your build. One such practice is the act of cable management. Cable management is the phrase used to describe the task of organizing the internal wires of
            a computer. It is one of the more important tasks you can do to maintain the performance and
            aesthetic of your computer. Not only does good cable management increase the airflow within
            the computer, thereby decreasing temperatures and extending the life of every part, it also
            contributes significantly to the overall look of the build. Regardless of any RGB LEDs,
            color-matched parts, or top-of-the-line components, if the cable management of the build is
            lacking, it brings the entire aesthetic down several levels. This is especially important if
            your build makes use of a case with a glass panel, since the internal organization is
            constantly on display. This section will describe how to properly manage the cables of your
            build, why it is so important, and what good cable management actually looks like. </p>
    </div>
</div>

<div class="card">
    <div class="card-body" id="how-to-manage-your-cables">
        <h2>How to Manage Your Cables</h2>
        <hr>
        <p>
            First and foremost, the parts required to begin managing your cables like a professional
            include:
        </p>
        <ul>
            <li>
                A case with good cable management features, such as holes in the motherboard tray,
                pre-built
                wire holders, or well-placed disk drive trays.
            </li>
            <li>
                A power supply unit (PSU) that is fully modular. This way, power cables that you don’t
                need in
                your build won’t be sitting stagnant and taking up space.
            </li>
            <li>
                Velcro strips, twist ties, or maybe even rubber bands. You will use these to tighten
                groups of
                cables together and keep everything as close together as possible. Zip ties are not
                recommended
                since they aren’t as easy to undo when you need to shuffle things around, and you can
                also end
                up accidentally cutting cables if you try to cut the zip tie.
            </li>
        </ul>
        <div class="yt-embed-inline">
            <iframe src="https://www.youtube.com/embed/HkB-GNEt9Fk" allowfullscreen>
            </iframe>
            <p class="caption">A video giving great tips on how to manage your cables <%- ref(3) %></p>
        </div>
        <p>
            A build with random cables floating around is obviously not going to be visually appealing
            nor
            is it going to improve airflow. Therefore, it’s important to design a build that will make
            cable
            management as easy as possible from the beginning. This is why a good case and a good PSU is
            recommended, since the process of cable management starts with the parts themselves. Here’s
            the
            tips you should follow to manage your cables effectively:
        </p>
        <ul>
            <li>
                When assembling your parts, cable management should always be at the front of your mind.
                The
                worst thing you can do to yourself is push cable management off to the end of the build
                process.
                If you do, you’ll likely end up being unable to put cables in a good arrangement without
                undoing
                parts.
            </li>
            <li>
                Always look to put cables through the holes built into the case. Most cases have a back
                panel
                with enough room to feed almost all of the wires through that you should always try to
                make
                use
                of. Try to keep as much of the wires hidden here so only the minimal amount of wiring is
                shown
                in the main build.
            </li>
            <li>
                After assembling all the parts in your computer, take all groups of wires and bunch them
                together as tightly as possible. Then, use your Velcro strips or twist ties to keep them
                together.
            </li>
        </ul>
    </div>
</div>

<div class="card">
    <div class="card-body" id="cable-management-examples">
        <h2>Cable Management Examples</h2>
        <hr>
        <div class="row">
            <div class="col-9">
                <p>The image on the right displays a nice cable management job. There is nothing special about it, but
                    it keeps cables out of the way and tidy, which is all you really need. You can see that the cables
                    are pulled into the back of the case through the designated holes as far as possible to minimize the
                    amount of cable dangling in the main body. Additionally, you can see the top-most cable goes
                    directly to the right and doesn't hang over the CPU cooler. Cables can easily move around or come
                    loose, and you don't want to have one get tangled up in the cooler fan.</p>
            </div>
            <div class="col-3">
                <a href="images/cable-management-1.jpg" target="_blank">
                    <img src="images/cable-management-1.jpg" style="width: 225px;" />
                </a>
                <p class="caption">A nice cable management job <%- ref(4) %></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <a href="images/cable-management-2.jpg" target="_blank">
                    <img src="images/cable-management-2.jpg" style="width: 225px;" />
                </a>
                <p class="caption">A color-coordinated cable management job <%- ref(4) %></p>
            </div>
            <div class="col-9">
                <p>The image on the left shows a cable management job that is about the same in terms of effectiveness as the first example above. However, this example shows the power that cable management has when it comes to aesthetic. This computer is color-coordinated in its parts: the case fans, the graphics cards, the power supply, and the cables. If the cables weren't colored to match, it would throw the entire design off. Obviously, the color of your cables aren't important unless you want to have a nice look to your computer. They are especially unimportant if your case doesn't have a glass panel on its side, since the internals wouldn't be visible anyways.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-9">
                <p>Finally, the example on the right shows a terrible cable management job. Cables are dangling all over the body, and several are lined across the CPU cooler and motherboard. These cables would greatly decrease the airflow throughout the computer, especially with the big bundle of wires laying on the bottom of the body. Additionally, the wires could very easily scrape or get tangled in the cooler fans of the CPU and the GPU. To improve the cables shown in this example, you could first pull the wires into the back panel of the case as much as possible. If there are too many cables to fit, you could look into ordering shorter cables online so there isn't as much excess laying around.</p>
            </div>
            <div class="col-3">
                <a href="images/cable-management-3.jpg" target="_blank">
                    <img src="images/cable-management-3.jpg" style="width: 225px;" />
                </a>
                <p class="caption">A very poor cable management job <%- ref(5) %></p>
            </div>
        </div>
    </div>
</div>