<div class="card">
    <div class="card-body" id="introduction">
        <h2>Cable Management</h2>
        <hr>
        <p>Cable management is the phrase used to describe the task of organizing the internal wires of
            a computer. It is one of the more important tasks you can do to maintain the performance and
            aesthetic of your computer. Not only does good cable management increase the airflow within
            the computer, thereby decreasing temperatures and extending the life of every part, it also
            contributes significantly to the overall look of the build. Regardless of any RGB LEDs,
            color-matched parts, or top-of-the-line components, if the cable management of the build is
            lacking, it brings the entire aesthetic down several levels. This is especially important if
            your build makes use of a case with a glass panel, since the internal organization is
            constantly on display. This section will describe how to properly manage the cables of your
            build, why it is so important, and what good cable management actually looks like. </p>
    </div>
</div>

<div class="card">
    <div class="card-body" id="how-to-manage-your-cables">
        <h2>How to Manage Your Cables</h2>
        <hr>
        <p>
            First and foremost, the parts required to begin managing your cables like a professional
            include:
        </p>
        <ul>
            <li>
                A case with good cable management features, such as holes in the motherboard tray,
                pre-built
                wire holders, or well-placed disk drive trays.
            </li>
            <li>
                A power supply unit (PSU) that is fully modular. This way, power cables that you don’t
                need in
                your build won’t be sitting stagnant and taking up space.
            </li>
            <li>
                Velcro strips, twist ties, or maybe even rubber bands. You will use these to tighten
                groups of
                cables together and keep everything as close together as possible. Zip ties are not
                recommended
                since they aren’t as easy to undo when you need to shuffle things around, and you can
                also end
                up accidentally cutting cables if you try to cut the zip tie.
            </li>
        </ul>
        <div class="yt-embed-inline">
            <iframe src="https://www.youtube.com/embed/HkB-GNEt9Fk" allowfullscreen>
            </iframe>
        </div>
        <p>
            A build with random cables floating around is obviously not going to be visually appealing
            nor
            is it going to improve airflow. Therefore, it’s important to design a build that will make
            cable
            management as easy as possible from the beginning. This is why a good case and a good PSU is
            recommended, since the process of cable management starts with the parts themselves. Here’s
            the
            tips you should follow to manage your cables effectively:
        </p>
        <ul>
            <li>
                When assembling your parts, cable management should always be at the front of your mind.
                The
                worst thing you can do to yourself is push cable management off to the end of the build
                process.
                If you do, you’ll likely end up being unable to put cables in a good arrangement without
                undoing
                parts.
            </li>
            <li>
                Always look to put cables through the holes built into the case. Most cases have a back
                panel
                with enough room to feed almost all of the wires through that you should always try to
                make
                use
                of. Try to keep as much of the wires hidden here so only the minimal amount of wiring is
                shown
                in the main build.
            </li>
            <li>
                After assembling all the parts in your computer, take all groups of wires and bunch them
                together as tightly as possible. Then, use your Velcro strips or twist ties to keep them
                together.
            </li>
        </ul>
    </div>
</div>

<div class="card">
    <div class="card-body" id="cable-management-examples">
        <h2>Good Cable Management Examples</h2>
        <hr>
        <p>There will be examples of good cable mangement here.</p>
    </div>
</div>