<div class="card">
    <div class="card-body" id="introduction">
        <h2>Computer Parts</h2>
        <hr>
        <p>A computer isn't just the box that sits next to your desk. It is instead the collection of parts within,
            which all work together to perform the tasks we expect out of a modern computer. Today, there are many
            different parts that can reside within a computer. However, there are always at least eight components in
            every computer:</p>
        <ul>
            <li>CPU</li>
            <li>CPU cooler</li>
            <li>Motherboard</li>
            <li>Memory</li>
            <li>Storage</li>
            <li>GPU</li>
            <li>PSU</li>
            <li>Case</li>
        </ul>
        <p>Familarizing yourself with each part prior to assembly will help tremendously during the installation process. Below, we explore each componenet's crucial role in the functioning of a computer.</p>
    </div>
</div>

<div class="card">
    <div class="card-body" id="functions-of-the-major-parts">
        <h2>Functions of the Major Parts</h2>
        <hr>
        <div class="row">
            <div class="col-2 d-flex align-items-center justify-content-center">
                <a href="images/cpu.jpg" target="_blank">
                    <img src="images/cpu.jpg" style="width: 100px;" />
                </a>
            </div>
            <div class="col-10">
                <h4>CPU</h4>
                <p>The acronym <%- def("CPU") %> stands for "central processing unit." A common nickname for this part is "the brains
                    of the computer." This is very accurate, since the <%- def("CPU") %> is the small thin chip that resides at the
                    center of every motherboard. It is in charge of executing all of the regular code of the system.
                    Therefore, it will be one of the more expensive elements in your computer. </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-10">
                <h4>CPU Cooler</h4>
                <p>A large amount of the energy sent to the <%- def("CPU") %> will be converted into thermal energy. Since the <%- def("CPU") %> is
                    a delicate silicone component, it must stay cool to maintain regular function. Most <%- def("CPU") %>s will come
                    with a cooler, however, <%- def("aftermarket") %> coolers may often be purchased to provide better performance.
                </p>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-center">
                <a href="images/cpu-cooler.jpg" target="_blank">
                    <img src="images/cpu-cooler.jpg" style="width: 100px;" />
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-2 d-flex align-items-center justify-content-center">
                <a href="images/motherboard.jpg" target="_blank">
                    <img src="images/motherboard.jpg" style="width: 100px;" />
                </a>
            </div>
            <div class="col-10">
                <h4>Motherboard</h4>
                <p>The motherboard is the circuit board that connects all the other system components together. It is
                    responsible for ensuring all devices connected to it can communicate properly, and that clean power
                    is able to be distributed to all components. The motherboard may be considered the most important
                    part of a computer, since every other part is useless without the motherboard to connect them all
                    together.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-10">
                <h4>Memory</h4>
                <p>Computer memory, also referred to as <%- def("RAM") %> (random access memory), is similar to a humans's short term
                    memory. It is extremely fast, but is only able to hold presently pertinent information, such as the
                    state of the programs open on your computer. Since it needs to be extremely quick, you can expect to
                    buy a much smaller amount of memory at a much higher price compared to your storage. </p>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-center">
                <a href="images/ram.jpg" target="_blank">
                    <img src="images/ram.jpg" style="width: 100px;" />
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-2 d-flex align-items-center justify-content-center">
                <a href="images/hdd.jpg" target="_blank">
                    <img src="images/hdd.jpg" style="width: 100px;" />
                </a>
            </div>
            <div class="col-10">
                <h4>Storage</h4>
                <p>A computer's storage is what keeps files present on every shut-down and boot-up. Unlike memory, it is
                    permanent. For example, when you save a Microsoft Word file, your computer is physically writing
                    that information to a disk so you can keep it forever. However, not all storage involves physical
                    disks; a newer type of storage device, called a solid state drive, stores data in a collection of
                    millions of semiconductor cells.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-10">
                <h4>GPU</h4>
                <p>The <%- def("GPU") %>, short for graphical processing unit, is in charge of rendering all data given to it into the
                    frames to be displayed on your monitor(s). Graphics cards, another name for <%- def("GPU") %>s, house an
                    incredible number of small computing cores, and as such can be used for many other high-performance
                    tasks. Such tasks may include video games, complex simulations, or machine learning. Therefore,
                    depending on your workflow, it may make sense to spend a large portion of your budget on a graphics
                    card. </p>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-center">
                <a href="images/gpu.jpg" target="_blank">
                    <img src="images/gpu.jpg" style="width: 100px;" />
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-2 d-flex align-items-center justify-content-center">
                <a href="images/psu.jpg" target="_blank">
                    <img src="images/psu.jpg" style="width: 100px;" />
                </a>
            </div>
            <div class="col-10">
                <h4>PSU</h4>
                <p><%- def("PSU") %> is short for power supply unit. It is in charge of converting the AC power coming from your wall
                    to the DC power that your system components expect. It is important to opt for a high quality <%- def("PSU") %> as
                    lower quality units have been known to destroy other system components by accidental over-volting or
                    shorts. </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-10">
                <h4>Case</h4>
                <p>The case is the image everyone associates with a computer. However, it could be argued to be one of
                    the least important parts, since a computer could technically function without it. However, it
                    protects the internals of the computer from outside factors, such as dust accumulation, physical
                    touch, or potentially liquids. Additionally, a good case will have cable management features and
                    excellent airflow design to keep everything tidy and cooled.</p>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-center">
                <a href="images/case.jpg" target="_blank">
                    <img src="images/case.jpg" style="width: 100px;" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p style="font-size: 10px;">All images referenced from Newegg.com <%- ref(2) %>.</p>
            </div>
        </div>
    </div>
</div>