<% if (locals.error) { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 20px;">
    <strong>Error:</strong> <%= error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>

<div style="box-shadow: 1px 1px 7px rgba(0,0,0,0.4);margin-top: 20px;">
    <img src="images/header.jpg" style="width: 100%;" />
</div>

<div class="card">
    <div class="card-body" id="introduction">
        <h2>Introduction</h2>
        <hr>
        <p>
            In 2019, 65% of Americans played video games, and of those Americans, 52% used a computer
            to play <%- ref("ESA") %>. Many video games have minimum and recommended requirements for players’
            computers. Regular computers, such as work or personal desktops, often will not meet all these requirements.
            A great choice to meet these requirements is by building a computer yourself, which is significantly cheaper
            than purchasing a prebuilt computer.
        </p>
        <p>
            Building a computer requires
            only a screwdriver and a few hours, so it is never worth it to spend hundreds of extra dollars
            buying a prebuilt computer.
            However, building a computer requires handling technology costing hundreds of dollars. First-time
            computer builders can run into many problems that take hours to solve: learning all the parts of a
            computer, selecting parts for their own computer, connecting the parts together, and maintaining
            the computer after building it. When you first build a computer, you may use
            Wikipedia to learn all the parts of a computer. Then, you would compare parts based on price and
            performance, and select parts that fit together while being in your budget. Next, you would
            watch several hour-long videos that walk through the assembly of a computer. Finally, you
            would build your computer while constantly pausing and playing a video for several hours. This
            manual will combine all these steps to minimize the amount of time you spend building your
            computer while maximizing the amount of time you spend using it.
        </p>
    </div>
</div>

<div class="card">
    <div class="card-body" id="table-of-contents">
        <h2>Table of Contents</h2>
        <hr>
        <p>
            This website is designed to aid first-time computer builders in selecting parts, building a computer from
            those parts, and maintaining the computer as it wears down over time. It gives tips for
            cable management, and selecting other accessories such as monitors, mice, and keyboards. Additionally, this
            website covers replacing or upgrading the parts in a computer, and when a computer needs to be upgraded.
            Below is a table of contents to help you with navigating the website:
        </p>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        Computer Building Guide
                    </div>
                    <ul class="list-group list-group-flush">
                        <% for(const p of pages) { %>
                        <li class="list-group-item">
                            <a href="<%= p.getID() %>" style="font-weight: bold;"><i class="fas fa-external-link-alt"
                                    style="color: gray;"></i> <%= p.title %></a>
                            <ul>
                                <% for(const section of p.getSections()) { %>
                                <li><%= section.title %></li>
                                <% } %>
                            </ul>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body" id="terms">
        <h2>Terms</h2>
        <hr>
        <p>There are many terms and acronyms throughout this website that may need extra clarification. Many of these are listed below, and their occurances are hyperlinked to their corresponding definition here:</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="width: 120px;">Term</th>
                    <th scope="col">Definition</th>
                </tr>
            </thead>
            <tbody>
                <tr id="def-cpu">
                    <td>CPU</td>
                    <td>Short for "central processing unit," the CPU is the component that executes all of the regular instructions of a computer <%- ref("Kuck") %>.</td>
                </tr>
                <tr id="def-gpu">
                    <td>GPU</td>
                    <td>Short for "graphics processing unit," the GPU is the component within a computer that accelerates the creation of images intended for output to a display device <%- ref("Kuck") %>. As such, it is extremely important for rendering video games faster and at higher resolutions.</td>
                </tr>
                <tr id="def-psu">
                    <td>PSU</td>
                    <td>Short for "power supply unit," the PSU converts wall outlet AC (alternating current) power to DC (direct current) power, which is what computer components require to run properly <%- ref("Kuck") %>.</td>
                </tr>
                <tr id="def-ram">
                    <td>RAM</td>
                    <td>Short for "random access memory," RAM is the component within a computer that is typically used to store working data and machine code <%- ref("Kuck") %>. It is installed in the DIMM (dual in-line memory module) slots on a motherboard. RAM has been released in different generations, with the latest being Double Data Rate 5 (DDR5). The previous generations are DDR4, DDR3, DDR2, and DDR. The acronym DDR4-3600 means a set of RAM is in the fourth generation and runs at 3600 MHz.</td>
                </tr>
                <tr id="def-sata">
                    <td>SATA</td>
                    <td>Short for "serial advanced technology attachment," SATA cables are in charge of connecting storage devices (hard disk drives and solid state drives) to the motherboard, providing the ability to read and write from them <%- ref("Kuck") %>.</td>
                </tr>
                <tr id="def-aftermarket">
                    <td>Aftermarket</td>
                    <td>Aftermarket items are those that are purchased separately from a certain component. A common example is an aftermarket CPU cooler, which is bought separately from a CPU (many CPUs come with a stock cooler).</td>
                </tr>
                <tr id="def-form-factor">
                    <td>Form factor</td>
                    <td>Motherboards come in different standard sizes, from largest to smallest: EATX, ATX, Micro-ATX (mATX), and Mini-ATX <%- ref("LEI") %>. Cases are typically designed for specific form factors.</td>
                </tr>
                <tr id="def-capacity">
                    <td>Capacity</td>
                    <td>Information on a computer is stored in units called bytes. Bytes are a collection of eight bits (ones and zeroes), with megabytes (MBs) being one million bytes, gigabytes (GBs) being one billion bytes, and terabyte (TBs) being one trillion bytes <%- ref("Kuck") %>. Storage devices are advertised by their capacity, typically in the hundreds of gigabytes. RAM, on the other hand, is advertised in the tens of gigabytes, since they have a much smaller capacity but an extremely faster speed.</td>
                </tr>
                <tr id="def-clock-speed">
                    <td>Clock speed</td>
                    <td>Computer components are often described with their clock speed, such as the CPU, GPU, or RAM. Clock speed describes the speed of electronic transmission, measured in hertz (cycles per second) <%- ref("Kuck") %>. Megahertz (MHz) is one million hertz and gigahertz (GHz) is one billion hertz. Typically, a component with a higher clock speed will perform faster.</td>
                </tr>
                <tr id="def-bios">
                    <td>BIOS</td>
                    <td>Short for "basic input/output system," the BIOS is pre-installed on every motherboard and allows hardware-level system configuration, such as setting clock speeds or selecting which storage device to use to boot into an operating system (such as Windows) <%- ref("Kuck") %>.</td>
                </tr>
                <tr id="def-rgb">
                    <td>RGB</td>
                    <td>Short for "red/green/blue," RGB describes the three colors that can be combined to create any other color <%- ref("Hirsch") %>. Typically, RGB is used as shorthand for describing RGB LEDs (light-emitting diodes), which are light sources that are often used to add accent lighting to computer builds.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>