<div class="card">
    <div class="card-body" id="introduction">
        <h2>Maintenance</h2>
        <hr>
        <p>
            Cleaning your computer is an important process that keeps it running cool and smoothly. Dust can slow down
            fans
            and drive up the temperature of the entire build. These steps will extend your computer's lifespan.
        </p>
        <p>
        <h3> Tools necessary:</h3>
        <ul>
            <li>Screwdriver for removing components.</li>

            <li>A mask to protect from flying dust.</li>

            <li>Compressed air can.</li>

            <li>A soft brush (a paint brush works)</li>
            <li>Cotton swabs and rubbing alcohol</li>
        </ul>
        </p>
        <h3>Steps</h3>

        <ol>
            <li>Unplug the accessories and the power supply.</li>

            <li>
                Use a cloth and wipe down the outside of the case. This will reduce the dust that enters the computer
                when we
                open it up.
            </li>

            <li>
                Open the computer up and wipe down the interior case. Dust may be stuck in the vents of the case, so
                don’t
                hesitate to blast the vents with some compressed air before wiping.
            </li>

            <li>Now you can begin cleaning the CPU cooler, <%- def("GPU") %>, and Power supply</li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-body" id="cpu-cooler">
        <h2>Cleaning Central Processing Unit Cooler (CPU Cooler)</h2>
        <hr>
        <p>
            The CPU cooler is a very important part that maintains the temperature of the central processing unit and
            ensures it doesn't exceed recommended levels. It's important to maintain it to ensure your <%- def("CPU") %> is never in
            danger of overheating. Here's how to clean it:
        </p>
        <ol>
            <li>Use the compressed air and brush to remove the dust from the fan. </li>

            <li>Use the cotton swab and rubbing alcohol to fully clean the fan blades. </li>

            <li>Use the brush to around the cooler’s socket. </li>

            <li>You can remove the cooler to clean it more thoroughly, but you will want to replace the thermal paste if
                you remove your cooler. </li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-body" id="gpu">
        <h2>Cleaning Graphics Processing Unit (GPU)</h2>
        <hr>
        <p>
            The <%- def("GPU") %> is the biggest contributor to how well your video games perform, if that is what you intend to do on
            your computer. Similar to the <%- def("CPU") %>, it's vital to make sure it's in good shape so it doesn't run too hot.
            Here's how to clean it:
        </p>
        <ol>
            <li>Simply point the compressed air can at the back of the card and the dust in the heatsink will fly out.
            </li>

            <li>If you removed the card, use the brush to gently clean the black plate or circuit board. </li>

            <li>The swabs and alcohol can be used to clean the fan blades.</li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-body" id="power-supply">
        <h2>Cleaning Power Supply</h2>
        <hr>
        <p>
            The power supply is how power enters the system. It converts an outlet's AC power into low-voltage DC power
            which computer components require to run properly. As one can imagine, the failure of this part will result
            in the failure of every part. Cleaning it will help make sure it doesn't fail due to lack of air intake:
        </p>
        <ol>
            <li>Disconnect the <%- def("PSU") %> and remove the safety screws before taking it out. </li>

            <li>Use the screwdriver to hold the fan in place as you blast air into it. </li>

            <li>You can also open it up and brush and swab it down. </li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-body" id="thermal-paste">
        <h2>Reapplying Thermal Paste</h2>
        <hr>
        <p>
            Thermal paste sits between the metal face of your CPU cooler and the metal face of the actual <%- def("CPU") %>. It helps
            maintain contact between the two objects by filling in air gaps caused by imperfections in their surfaces.
            Thermal paste should be replaced around every two years or every time you remove the CPU cooler. Here's how
            to reapply thermal paste:
        </p>
        <ol>
            <li>Remove the heatsink - you may need to visit your CPU/cooler manual </li>

            <li>Remove the CPU using the latch. </li>

            <li>Use a paper towel or cloth and some rubbing alcohol to remove leftover paste on the CPU and the
                heatsink. </li>

            <li>Reinstall the CPU and apply new thermal paste in an "X" pattern. </li>

            <li>Reinstall the heatsink. </li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-body" id="accessories">
        <h2>Cleaning accessories</h2>
        <hr>
        <p>
            You can use the compressed air and the brush to clean your keyboard and mouse as well. The cloth with rubbing alcohol should easily handle any monitor dirt. 
        </p>
    </div>
</div>