<div class="card">
    <div class="card-body" id="works-cited">
        <h2>Works Cited</h2>
        <hr>
        <p>[1] B. Hale, D. says, Darren, J. says, Jake, R. says, Russ, and B. H. says, “How to Cable Manage A PC: 27 Examples of Good Cable Management,” <i>Tech Guided</i>, 13-Aug-2019. [Online]. Available: https://techguided.com/good-cable-management/.</p>
        <p>[2] E. PC, “How Does Cable Management Affect Airflow?,” <i>Does Cable Management Matter? (Don't Do This)</i>. [Online]. Available: https://www.easypc.io/pc-cases/does-cable-management-matter/.</p>
        <p>[3] <i>ULTIMATE Cable Management Guide</i>. Linus Tech Tips, 2018.</p>
        <p>[4] “Newegg – Shopping Upgraded,” Newegg.com. [Online]. Available: https://newegg.com/.</p>
        <p>[5] D. I. Cutress and G. Bonshor, “Overclocking The AMD Ryzen APUs: Guide and Results," 16-Apr-2018. [Online]. Available: https://www.anandtech.com/show/12542/overclocking-the-amd-ryzen-apus-guide-results/4.</p>
    </div>
</div>