<div class="card">
    <div class="card-body" id="works-cited">
        <h2>Works Cited</h2>
        <hr>
        <p id="1">[1] B. Hale, “How to Cable Manage A PC: 27
            Examples of Good Cable Management,” <i>Tech Guided</i>, 13-Aug-2019. [Online]. Available:
            https://techguided.com/good-cable-management/.</p>
        <p id="2">[2] E. PC, “How Does Cable Management Affect Airflow?,” <i>Does Cable Management Matter? (Don't Do This)</i>.
            [Online]. Available: https://www.easypc.io/pc-cases/does-cable-management-matter/.</p>
        <p id="3">[3] <i>ULTIMATE Cable Management Guide</i>. Linus Tech Tips, 2018.</p>
        <p id="4">[4] “Newegg – Shopping Upgraded,” Newegg.com. [Online]. Available: https://newegg.com/.</p>
        <p id="5">[5] D. I. Cutress and G. Bonshor, “Overclocking The AMD Ryzen APUs: Guide and Results," 16-Apr-2018.
            [Online]. Available: https://www.anandtech.com/show/12542/overclocking-the-amd-ryzen-apus-guide-results/4.
        </p>
        <p id="6">[6] "2019 Essential Facts About the Computer and Video Game Industry.” <i>Entertainment Software
            Association</i>, Entertainment Software Association, 19 Aug. 2019,
            www.theesa.com/esa-research/2019-essential-facts-about-the-computer-and-video-gameindustry/.</p>
        <p id="7">[7] <i>PC Build Tutorial (Full Version) | MSI</i>. MSI Gaming, 2017. </p>
        <p id="8">[8] A. E. Freedman, “How to Build a PC,” <i>Tom's Hardware</i>, 26-Aug-2020. [Online]. Available: https://www.tomshardware.com/reviews/how-to-build-a-pc,5867.html.</p>
    </div>
</div>