<div class="card">
    <div class="card-body" id="introduction">
        <h2>Upgrades and Replacements</h2>
        <hr>
        <p>With computers, how much you are willing to spend is how much you are going to get out of it. If you are
            willing to invest into good parts, they will last years without any sort of failure. As programs and games
            become more complex and realistic, they will begin to require much more processing power. Additionally, as
            you use your computer throughout the years, you may notice a general sluggishness that wasn’t apparent when
            it was first built. This is normally an indication that it might be time for an upgrade to some of your
            components. </p>
    </div>
</div>

<div class="card">
    <div class="card-body" id="upgrading-your-components">
        <h2>Upgrading Components</h2>
        <hr>
        <div style="float: right;margin-left: 10px;">
            <a href="images/pcpartpicker.jpg" target="_blank">
                <img src="images/pcpartpicker.jpg" style="width: 300px;box-shadow: 1px 1px 5px rgba(0,0,0,0.3);" />
            </a>
            <p style="font-size: 10px;">A screenshot of pcpartpicker.com <%- ref("PCPartPicker") %></p>
        </div>
        <p>Upgrading parts can be hard because there are so many parts to pick from, and it can be tough to find out
            which parts are compatible with your current setup. Luckily, there are websites that allow you to enter
            parts from your computer and find a list of new parts that are compatible, such as <a
                href="https://pcpartpicker.com" class="external-link" target="_blank">pcpartpicker.com</a> <i
                class="fas fa-external-link-alt" style="color: gray;"></i> <%- ref("PCPartPicker") %>. On this
            website, you can create a “build” containing your existing parts from your computer. Then, you can search
            for any part from a wide range of sellers, including Amazon, Best Buy, Newegg, and more. The website will
            automatically handle compatibility issues for you, and provide warnings for any issues it finds. </p>
        <p>There are also places which allow you to see the benchmark comparisons between parts, showing you how two
            parts compare to one another. It’s important to see how much more performant a part is compared to an older
            one, because you don’t want to spend hundreds of dollars on an upgrade that won’t provide much of a boost.
            An example benchmarking website is <a href="https://cpubenchmark.net" class="external-link"
                target="_blank">cpubenchmark.net</a> <i class="fas fa-external-link-alt" style="color: gray;"></i>
            <%- ref("CPUBenchmark") %>. On this website,
            you select parts from your
            computer
            (including your <%- def("CPU") %>, <%- def("GPU") %>, <%- def("RAM") %>, etc.), and then select a newer part
            to which you want to upgrade.
            It will compare a wide range of performance tests between the two parts, allowing you to see exactly how
            much of an upgrade it will be. </p>
    </div>
</div>

<div class="card">
    <div class="card-body" id="replacing-your-components">
        <h2>Replacing Components</h2>
        <hr>
        <p>Unfortunately, computer parts may have problems that are either immediately apparent or become apparent very
            quickly. This may be due to a manufacturing error or a destructive shipping process. These problems that
            arise can range anywhere from the package being mishandled in shipping to the part not functioning as
            intended. </p>
        <p>Occasionally, your parts may come with a manufacturer warranty that allows you to mail back the part if you
            encountered any problems within a certain time period. If you are dealing with a major company such as
            Corsair, their response time will usually be quick, and you should have your replacement within a week.
            Other companies, especially those that are overseas, may take up to a month for certain parts to get back to
            you. </p>
    </div>
</div>