@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
}

h1, h2, p, li {
    font-family: 'Roboto', sans-serif;
}

.btn-primary {
    background-color: #7386D5;
    border-color: #5c6eb6;
}

.btn-primary.disabled {
    background-color: #7386D5;
    border-color: #5c6eb6;
    opacity: 0.7;
}

.caption {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

.part-image-div {
    margin-top: 10px;
}

.part-image-div img {
    width: 150px;
}

#works-cited a {
    text-decoration: underline;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 275px;
    max-width: 275px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -275px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
    text-align: center;
}

#sidebar .sidebar-header img {
    width: 95%;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.collapse-btn {
    background-color: #7486d4;
    border-color: #6d7fcb;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: #f1f1f1;
}

#content .card {
    margin-top: 20px;
}

.yt-embed {
    text-align: center;
}

.yt-embed > iframe {
    width: 700px;
    height: 390px;
    border: 0px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.yt-embed-inline {
    float: right;
    margin: 0px 0px 0px 30px;
}

.yt-embed-inline > iframe {
    width: 500px;
    height: 280px;
    border: 0px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.spinning {
    animation: spin 1s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -275px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}